<div class="redes">
    <a href="https://www.facebook.com/anita.retameles/" src="../../../assets/header-img/facebook.png" alt="facebook"></a>
    <a href="https://instagram.com/anitaretamales?igshid=ZDdkNTZiNTM=" src="../../../assets/header-img/instagram.png" alt="instagram"></a>
    <a href="https://www.linkedin.com/in/anabela-arrieta/" src="../../../assets/header-img/linkedin.png" alt="linkedin"></a>
    <a href="https://github.com/AniArrieta" src="../../../assets/header-img/github.png" alt="github"></a>
</div>
