<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Trabajo 1</h3> - <h4>(years)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio minima nostrum voluptatibus suscipit? Fuga, deserunt, ad exercitationem impedit reiciendis corporis iste dolor ipsa minima cumque odit quae iusto fugiat inventore.</p>
        </ul>
        <ul>
            <li>
                <h3>Trabajo 2</h3> - <h4>(years)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio minima nostrum voluptatibus suscipit? Fuga, deserunt, ad exercitationem impedit reiciendis corporis iste dolor ipsa minima cumque odit quae iusto fugiat inventore.</p>
        </ul>
        <ul>
            <li>
                <h3>Trabajo 3</h3> - <h4>(years)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio minima nostrum voluptatibus suscipit? Fuga, deserunt, ad exercitationem impedit reiciendis corporis iste dolor ipsa minima cumque odit quae iusto fugiat inventore.</p>
        </ul>
    </div>

</div>
