div{
    background-color:#D3756B;
}
h1,h2{
    font-family: Philosopher;
    color: #000;
}
h3, p{
    font-family: Mulish;
    color: black;
}
.row{
    padding: 20px;
}
.contenedor{
    width: auto;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
#fotoproyecto1{
    width: 100%;
    height: auto;    
}
.img-proyecto{
    box-shadow: 10px 30px 60px #5F264A;
}