:host {
    display: block;
    width: 100%; /* Cambiar el valor según sea necesario */
    height: 300px; /* Cambiar el valor según sea necesario */
    background-color: #A75D5D;
}

.row{
    padding: 10px;
    top: 500%; /*ver por qué se ve tan abajo*/
}
div{
    text-align: center;
}
h1,h2{
    font-family: Philosopher;
    color: #000;
}
h3, p{
    font-family: Mulish;
    color: black;
}
#nombre{
    margin-top: 40%;
    font-weight: bold;
    margin-left: 10px;

}
/*ver por qué no se aplican los estilos en la foto, deberia aparecer redonda*/

@media (min-width: 576px) {
    #foto {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 4px 30px #F99B7D;
        top: 500px;
        left: 2%;
    } 
}
@media (max-width: 575px) {
    #foto {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        top: 638px;
        left: 33%;
    } 
}