<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img id="foto" src="../../../assets/acerca-de-img/hjkl.PNG" alt="foto perfil" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <h1 id="nombre">Anabela Arrieta</h1>
        <h3>Full Stack Developer Jr</h3>
        <p>Mendoza, Argentina</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <span>
            <h2 id="about">Acerca de mí</h2>
            <p>Persona responsable con capacidad resolutiva y gran vocación de servicio, en búsqueda de nuevas <br> oportunidades en pos de su perfeccionamiento profesional y superación personal.</p>
        </span>
    </div>
</div>
