<div class="row" >
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/acerca-de-img/hjkl.PNG" alt="foto perfil" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1>Anabela Arrieta</h1>
        <h3>Full Stack Developer Jr</h3>
        <p>Mendoza, Argentina</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de mí</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil quasi eum ratione culpa cum eaque maxime numquam necessitatibus laboriosam sapiente. Modi nihil ab numquam quasi, maxime omnis perferendis officiis provident.</p>
        </span>
    </div>
</div>
