.gradient-custom {
    /* fallback for old browsers */
    background: linear-gradient(to bottom, #A75D5D, #f7dbe4);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #A75D5D(106, 17, 203, 1), rgb(241, 163, 188));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #A75D5D(106, 17, 203, 1), rgb(241, 163, 188))
    }