<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="col-lg-2">
      <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">Nueva Skill</button>
  </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
      <circle-progress
      [percent]="(skill.porcentaje)"
      [radius]="100"
      [title]="(skill.nombre)"
      [titleColor]="'#000000'"
      [showTitle]="true"
      [imageSrc]="''"
      [imageHeight]="70"
      [imageWidth]="70"
      [showImage]="false"
      [showUnits]="false"
      [showSubtitle]="false"
      [space]="6"
      [outerStrokeWidth]="27"      
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#D3756B'"
      [innerStrokeColor]="'#A75D5D'"
      [animation]="true"
      [animationDuration]="700"
     ></circle-progress>  

     <div>
        <td *ngIf="isLogged">
          <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
              <i class="bi bi-pencil-fill"></i></button>
        </td>
        <td *ngIf="isLogged">
          <button class="btn btn-danger" (click)="delete(skill.id)">
              <i class="bi bi-trash-fill"></i></button>
        </td>
      </div>
  </div>
    
</div>
