<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/header-img/arg-prog.png" alt="logo Argentina Programa" id="logo">
        </div>
        <div class="redes">
            <a href="https://www.facebook.com/anita.retameles/" target="_blank"> <img src="../../../assets/header-img/facebook.png" alt="facebook"> </a>
            <a href="https://instagram.com/anitaretamales?igshid=ZDdkNTZiNTM=" alt="instagram" target="_blank"> <img src="../../../assets/header-img/instagram.png"> </a>
            <a href="https://www.linkedin.com/in/anabela-arrieta/" alt="linkedin" target="_blank"> <img src="../../../assets/header-img/linkedin.png"> </a>
            <a href="https://github.com/AniArrieta" alt="github" target="_blank"> <img src="../../../assets/header-img/github.png"> </a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>
       
